
PORT=your-port
DB_URL=Your-DB-URL

# BCRYPT
BCRYPT_SALT_ROUND=Your-Bcrypt-salt-round

# JWT
JWT_ACCESS_SECRET=Your-secret
JWT_ACCESS_EXPIRES=your-time

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=Your-cloudinary-cloud-name
CLOUDINARY_API_KEY=Your-api-key
CLOUDINARY_API_SECRET=Your-api-secret